# /etc/haproxy/haproxy.cfg

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend web_frontend
    bind *:80
    bind *:443 ssl crt /etc/ssl/certs/cert.pem
    default_backend library_servers

backend library_servers
    balance roundrobin
    cookie SERVERID insert indirect nocache
    
    server tomcat1 192.168.1.10:8080 cookie server1 check
    server tomcat2 192.168.1.11:8080 cookie server2 check
    server tomcat3 192.168.1.12:8080 cookie server3 check
